<!DOCTYPE HTML>
<html>
	<head>
		<title>Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="subpage">
	<script>
	var database = {
		gpslong : [{% for data in myClimate %}
				{{ data.gpslong }},
				{% endfor %}],
		gpslat : [{% for data in myClimate %}
				{{ data.gpslat }},
				{% endfor %}],
		temp : [{% for data in myClimate %}
				{{ data.temp }},
				{% endfor %}],
		hum : [{% for data in myClimate %}
				{{ data.hum }},
				{% endfor %}],
		light : [{% for data in myClimate %}
				{{ data.light }},
				{% endfor %}],
		time : 	[{% for data in myClimate %}
				new Date("{{ data.reading_time }}"),
				{% endfor %}],
		}
	</script>
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{{ url_for('home') }}">Main Page</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('data') }}">Live Data</a></li>
					<li><a href="{{ url_for('map') }}">Map</a></li>
					<li><a href="{{ url_for('graphs') }}">Graphs</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section class="banner half">
				<article>
					<img src="{{ url_for('static', filename='motherboard.jpg') }}" alt="" />
					<div class="inner">
						<header>
							<h2><b>DATABASE</b></h2>
						</header>
					</div>
				</article>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
								<div class="table-wrapper">
									<table class="alt">
										<thead>
										<tr><th><div align = "center">TIME</div></th><th><div align = "center">TEMPERATURE</div></th><th><div align = "center">HUMIDITY</div></th><th><div align = "center">GPS LATITUDE & LONGITUDE</div></th><th><div align = "center">LIGHT LEVEL</div></th></tr>
										</thead>
										<tbody>
										{% for data in range(15) %}
											<tr class="spaceUnder">
												<td style="width:20%"><div align = "center"><script>document.write(database.time[{{data}}]);</script></div></td>
												<td style="width:15%"><div align = "center"><script>document.write(database.temp[{{data}}]);</script></div></td>
												<td style="width:10%"><div align = "center"><script>document.write(database.hum[{{data}}]);</script></div></td>
												<td style="width:38%"><div align = "center"><script>document.write(database.gpslat[{{data}}]); document.write(" ; "); document.write(database.gpslong[{{data}}]);</script></div></td>
												<td style="width:20%"><div align = "center"><script>document.write(database.light[{{data}}]);</script></div></td>
										{% endfor %}
									</table>
								</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
